/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

   
    .header-main {
    z-index: 2;
}

.header-tittle {
    font-size: 42px;
}

.header-image{
    opacity: 0.5;
}

.header-contact {
    align-self: center;
}

.header-contact__desk {
    text-align: center;
}

.header-logo {
    text-wrap: nowrap;
}

.navigation-link {
    text-wrap: nowrap;
}

.navigation-list {
    gap: 0px 8px;

}

.header-image {
    right: 0px;
}

.header-image img {
    width: 420px;
    height: auto;
}

.about__heading {
    z-index: 2;
    max-width: 400;
}

.about__header {
    font-size: 42px;
}

.about__discription {
    font-size: 16px;
}

.about__sub-discription {
    font-size: 12px;
}

.about__video {
    opacity: 0.5;
}

.about__cards {
    flex-wrap: wrap;
}

.popular__header {
    font-size: 42px
}

.popular__choise {
    flex-wrap: wrap;
}

.price-header {
    font-size: 42px
}

.price-topics {
    flex-wrap: wrap;
}

.masters-logo {
    font-size: 42px
}

.masters__cards {
    flex-wrap: wrap;
}

.works__header-name {
    font-size: 42px 
}

.registration-header {
    font-size: 42px  
}

}



/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

   
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

    .header-top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navigation-list {
        flex-direction: column;
        padding: 0;
        gap: 8px 0px;
    
    }

    .header-contact {
        justify-content: center;
    }

    .header-contact__desk {
        align-items: center;
        text-align: center;
    }

    .registration-twopoint {
        flex-wrap: wrap;
    }

    .works__examples {
        gap: 0;
    }

    
    .registration-contacts {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

.brands-list {
    flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px 0px;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    
}