/*Common*/

* {
    box-sizing: border-box;
}

html,
body {
font-family: "Montserrat", sans-serif;
font-size: 14px;
color: #333;
}

body {
    min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #333;
}

a:hover {
color:#00BF78;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Components*/

.btn {
    width: fit-content;
    border-radius: 24px;
    border: none;
    background-color: #FB9475;
    padding: 17px 30px;
    color: #fff;
    cursor: pointer;
}

.btn_small {
    margin-top: 16px;
    padding: 10px 20px;
}

.btn_big {
    min-width: 375px;
}

/*Header*/

.header {
    background: url(../images/Header/back.png) no-repeat;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.header-logo {
  font-size: 24px;
}

.navigation-list {
    list-style: none;
    display: flex;
    gap: 0px 28px;
}

.navigation-link {
    font-size: 14px;
    font-weight: 500;
}

.header-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

.contact-number {
    font-size: 18px;
    font-weight: 500;
    gap: 8px 0;
}

.header-content {
    min-height: 510px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main {
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
}

.header-title {
    font-size: 48px;
    font-weight: 600;
}

.header-desk {
    font-size: 20px;
    font-weight: 400;
}

.header__btn {
    margin-top: 50px;
}

.header-image {
    position: absolute;
    bottom: 0;
    right: 80px;
}

.header-image img {
    width: 524px;
    height: 510px; 
}

.social {
    display: flex;
    flex-direction: column; 
    gap: 8px 0;
}

.social img {
    cursor: pointer;
}

/* about */

.about__info {
    display: flex;
    position: relative;
}

.about__header {
    margin-top: 50px;
    font-size: 48px;
}

.about__discription {
    max-width: 569.541px;
    margin-top: 30px;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.about__sub-discription {
    max-width: 540px;
    margin-top: 16px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.about__video {
    position: absolute;
    bottom:0px; 
    right:0px;
    width: 445px;
    height: 296.332px;

    &-description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        align-items: center;
        color: #fff;
        cursor: pointer;

        img {
            width: 60px;
            height: 60px;
        }
    }
}


.about__heading {
    display: flex;
    flex-direction: column;
}

.about__cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    gap: 30px;
}

.card__icon {
    width: 48px;
    height: 48px;
}

.card__heading {
    color: #333;
    font-size: 18px;
    font-weight: 600;
}

.card__description {
    width: 255px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/* popular */

.popular__header {
    margin-top: 100px;
    color: #333;
    font-size: 48px;
    font-weight: 700;
}

.popular__choise {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 30px;
}

.popular__choise-end {
    margin-top: 48px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    gap: 30px; 
}

.choise__icon {
    width: 350px;
    height: 180px; 
}

.choise__heading {
    margin-top: 20px;
    color: #333;
    font-size: 18px;
    font-weight: 600;
}

.choise__description {
    max-width: 350px;
    margin-top: 8px;
    color: #333;
    font-size: 12px;
    font-weight: 400;
}

/* Price */

.price-header {
    margin-top: 100px;
    color: #333;
    font-size: 48px;
    font-weight: 700;
}

.price-card {
    margin-top: 32px;
    list-style: none;
    display: flex;
    padding: 0;
    gap: 0px 28px;
    margin-bottom: 19px;
}

.price-link {
    color: #333;
    font-size: 14px;
    font-weight: 500;
}

.price-topics {
    margin-bottom: 100px;
}

.price-top {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.price__list {
    display: flex;
    justify-content: space-between;
    width: 444.125px;
}

.price__heading {
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

.price__description {
    margin-top: 8px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.price__coast {
    color: #00BF78;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
}

/* Masters */

.masters {
    background: #F8F6F7;
    padding: 80px 0;
}

.masters-logo {
    color: #333;
    font-size: 48px;
    font-weight: 700;
}

.masters-discription {
    padding: 32px 0px 24px 0px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.masters__cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card-master {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    max-width: 255px;   

    &:hover::after {
        content: '';
        position: relative;
        top: 0;
        left: 0;
        background-color: #000000;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        border-radius: 5px;
    } 
}

.masters-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.masters__icon {
    width: 255px;
    height: 300px;
}

.masters__heading {
    margin-top: 20px;
    color: #333;
    font-size: 18px;
    font-weight: 600;
}

.masters__description {
    padding: 8px 0px 16px 0px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.masters__sub-description {
    color: #333;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

/* Works */

.works__header {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    max-height: 59px;
}

.works__header-name {
        color: #333;
    font-size: 48px;
    font-weight: 700;
}

.works__paginator {
    display: flex;
    gap: 16px;
    max-width: 96px;
    cursor: pointer;
}

.works__icon {
    width: 338px;
    height: 338px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.works__examples {
    margin-top: 52px;
    display: flex;
    justify-content: center;
    gap: 29px;
}

.works-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Brands */

.brands-text {
    margin-top: 100px;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.bands-list {
    margin-top: 40px;
    max-width: 920px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 100px;
}

.brands__slot {
  max-width: 160px; 
  margin-left: auto;
  margin-right: auto;
  gap: 0 30px;
}

.brands-icon1 {
    width: 92.857px;
    height: 65px;
    filter: opacity(40%)
}

.brands-icon2 {
    width: 120px;
    height: 64.865px;
    filter: opacity(40%)
}

.brands-icon3 {
    width: 108.074px;
    height: 40px;
    filter: opacity(40%)
}

.brands-icon4 {
    width: 113.744px;
    height: 60px;
    filter: opacity(40%)
}

.brands-icon5 {
    width: 135px;
    height: 36px;
    filter: opacity(40%)
}

/* Registration */

.registration {
    background: #F8F6F7;
    padding: 80px 0;
}

.registration-twopoint {
    display: flex;
    justify-content: space-between;
}

.registration-contacts {
    flex-direction: column;
}

.registration-social {
    display: flex;
}

.registration-header {
    color: #333;
    font-size: 48px;
    font-weight: 700;
}

.registration-discription {
    margin-top: 32px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.registration-number {
    margin-top: 20px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.registration-link {
    color: #278AFF;
    font-size: 16px;
    font-weight: 400;
    text-decoration-line: underline; 
}

.registration-subdiscription {
    margin-top: 32px;
    color: #333;
    font-size: 12px;
    font-weight: 400;
}

.registration-social {
    margin-top: 12px;
    gap: 24px;
}

.reg-block {
    display: flex;
    width: 445px;
    padding: 40px;
    flex-direction: column;
    border-radius: 8px;
    background: #FFF;
}

.reg-header {
    color: #333;
    font-size: 18px;
    font-weight: 600;
}

.reg-discription {
    margin-top: 15px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    align-items: flex-start;
    margin-bottom: 35px;
}

.reg-input {
position: relative;
}

.reg-name {
    min-width: 375px;
    padding: 15px 16px;
    gap: 10px;
    border-radius: 4px;
    filter: opacity(40%)

}

.reg-tel {
    margin: 20px 0px;
    min-width: 375px;
    padding: 15px 16px;
    border-radius: 4px;
    filter: opacity(40%)
}

.reg-labl {
position: absolute;
top: 50%;
left: 56px;
transform: translate(-50%, -50%);
display: flex;
text-align: start;
cursor: pointer;
filter: opacity(40%)
}

.reg-subdiscription {
    margin-top: 16px;
    color: #333;
    font-size: 12px;
    font-weight: 300;
}

.reg-personal {
    color: #278AFF;
    font-size: 12px;
    font-weight: 300;
    text-decoration-line: underline;    
}

/* Footer*/

.footer-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-logo {
    color: #333;
    font-size: 12px;
    font-weight: 400;
}

.footer-politican {
    color:#278AFF;
    font-size: 12px;
    font-weight: 400;
    text-decoration-line: underline;
}

.footer-list {
    list-style: none;
    display: flex;
    gap: 0px 28px;
}

